*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Container{
    background-color: #4ea0ffFF;
    background-image: url(../img/pattern.png);
    width: 2000px;
    height: 200px;  
    position: static;
}

#logo{
    width: 350px;
    position: relative;
    left: 10px;
    top: 100px;
}


