body{
    margin: 0;
}
#Container{
    background-color: #4ea0ffFF;
    background-image: url(../img/pattern.png);
    width: 2000px;
    height: 200px;  
    position: static;
}

#logo{
    width: 250px;
    position: relative;
    left: 10px;
    top: 100px;
}

h4{
    color: #d2d2d2FF;
}

#item{
    color: #6CC7ED
;
}

.item1{
    background-color: yellow;
}